# Be sure to restart your server when you modify this file.
#
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
#
# Make sure your secret_key_base is kept private
# if you're sharing your code publicly.

# run rake secret to generate a new key for this
BootstrapKioskApp::Application.config.secret_key_base = 'PASTE KEY FROM "rake secret" HERE'

# these are the api key an secret key from https://constantcontact.mashery.com/apps/mykeys
BootstrapKioskApp::Application.config.ctct_api_key = 'PASTE KEY FROM CTCT MASHERY API HERE'
BootstrapKioskApp::Application.config.ctct_secret_key = 'PASTE SECRET FROM CTCT MASHERY API HERE'
